.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Documentation (Do not upload to GitHub)
docs/

# Build artifacts
*.exe
src-tauri/target/
